<div id="transaction-list">
    <div *ngFor="let transaction of transactionList">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Transaction name: {{transaction.name}}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Transaction date: {{transaction.date}}</p>
                <p class="card-text">Transaction amount: {{transaction.amount}} {{transaction.currency}}</p>
                <div class="button-box col-lg-12">
                    <button type="button" class="btn btn-outline-info" (click)="deleteTransaction(transaction.id)">Delete transaction</button> 
                    <button type="button" class="btn btn-outline-info" [routerLink]="['/details', transaction.id]">View transaction details</button> 
                </div>
            </div>
        </div>
    </div>
    <div class="finalbtn">
        <button type="button" class="btn btn-outline-info" [routerLink] = "['/new']"> Add new transaction </button>
    </div>
</div>