.button-box {
    text-align: center;
    margin-top:20px;
    // display: flex;
 }

button{
    margin-left: 5%;
    margin-right: 5%;
}

#transaction-list{
    margin-top: 10px;
    margin-bottom: 10px;
}

.finalbtn{
    margin-top: 20px;
    text-align: center;
}