.button-box {
    text-align: center;
    margin-top: 20px;
    // display: flex;
 }

 button{
    margin-left: 5%;
    margin-right: 5%;
 }

 p {
    text-align: center;
    margin: 1em;
 }

 h3{
   margin: 1em;
   margin-bottom: 2em;
   text-align: center;
 }

 .container{
   text-align: center;
 }