<nav class="navbar navbar-light">
  <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">
        <!-- <i class="bi bi-house"></i> -->Home
      </a>
      <a class="navbar-brand" [routerLink]="['/new']">New transaction</a>
      <a class="navbar-brand" [routerLink]="['/history']">Transaction list</a>
      <a class="navbar-brand" *ngIf="checkCurrentUser()" (click)="logOut()">Log out</a>
      <a class="navbar-brand" *ngIf="!checkCurrentUser()" [routerLink]="['/signin']">Sign in</a>
      <!-- <a class="navbar-brand" [routerLink]="['/signin']">Sign in</a> -->
  </div>
</nav>