.navbar{
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 0;
    padding-top: 0;
    background-color: #b3d7f1;
}

.navbar-brand{
    padding: 2%;
    transition: 0.3s;
}

.navbar-brand:hover{
    color: white;
    background-color: #31a1f1;
    transition: 0.3s;
}